#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.fields {
  background: white;
}

.heading{
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: 'Pacifico', cursive;
}

.preview {
  width: 21cm;
  background: rgb(225, 224, 213);
  border-radius: 20px;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #aeaeae;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 10px;
}

button:active {
  transform: scale(0.9);
}

.headerEdit button {
  background-color: #f9a01b;
  color: black;
  margin: 0.5em;
}

